.color {
  border: solid black 1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.pixel {
  height: 40px;
  width: 40px;
  border: solid black 1px;
  background-color: white;
  display: inline-block;
  margin-left: 3px;
}

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

#pixel-board {
  text-align: center;
}